{% extends 'bootstrap/base.html' %}
{% block title %}
   手游数据库查询
{% endblock %}

{%- block metas %}<meta name="renderer" content="webkit">{% endblock %}
{% block body_attribs %} onbeforeunload="return delCookie()" {% endblock %}

{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/mydefine.js',_external=True) }}"></script>
    <!--<script src="{{ url_for('static',filename='js/bootstrap.min.js',_external=True) }}"></script>-->
    <!--<script src="{{ url_for('static',filename='css/bootstrap.min.css',_external=True)}}"></script>-->
{% endblock %}