{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>更新内容:</h2>
            <p>更新：数据库查询错误信息提示</p>
            <p>更新：用数据库存储服信息</p>
            <p>2016-03-30</p>
            <br>
            <p>更新：添加BOP项目</p>
            <p>更新：修改前端显示</p>
            <p>更新：服务端按项目拆开，以项目分组</p>
            <p>2016-04-01</p>
            <br>
            <p>更新：添加内网SVN同步到外网SVN功能</p>
            <p>更新：使用异步处理同步功能</p>
            <p>2016-04-04</p>
            <br>
            <p>更新：修改同步svn时的日志记录信息</p>
            <p>2016-04-08</p>
            <br>
            <p>更新：修改单库查询为多库查询</p>
            <p>2016-04-20</p>
            <br>
            <p>更新：修改查询显示排版</p>
            <p>更新：添加选服打补丁操作之服务器选择内容</p>
            <p>2016-06-02</p>
            <br>
            <p>更新：调整打补丁日志实时输出</p>
            <p>2016-06-06</p>
            <br>
            <p>更新：添加跨服打补丁和查询跨服数据库查询功能</p>
            <p>2016-07-22</p>

        </div>
    </div>
</div>

{% endblock %}